.keyboard-container{
  max-width: 30rem;
  height: 10rem;
  border: 1ps solid;
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: center;
  margin-top: 5rem;

}
.keyboard-container button{
  border: 1px solid;
  margin:0.03rem;
  border-radius: 25px;
 outline:none;
  width: 4rem;
  height: 4rem;
  color: #EC6A32;
  font-weight: bold;
  font-size: 2rem;
  background-color: #067BC2;
  cursor: pointer;
  
}